@font-face {
    font-family: 'latoblack';
    src: url('../fonts/lato-black-webfont.woff2') format('woff2'),
         url('../fonts/lato-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoblack_italic';
    src: url('../fonts/lato-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/lato-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latobold_italic';
    src: url('../fonts/lato-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/lato-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoitalic';
    src: url('../fonts/lato-italic-webfont.woff2') format('woff2'),
         url('../fonts/lato-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latolight_italic';
    src: url('../fonts/lato-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/lato-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latohairline';
    src: url('../fonts/lato-thin-webfont.woff2') format('woff2'),
         url('../fonts/lato-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latohairline_italic';
    src: url('../lato-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/lato-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
}

img{
    max-width: 100%;
}

.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 0px 20px;
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0px 14px 0px;
}

.header-logo img{
    max-width: 75px;
    height: 75px;
}

.header-right {
    display: flex;
    align-items: center;
}

.menu ul {
    margin: 0;
    padding: 0;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    padding: 14px 16px;
    
}

.menu ul li a{
    text-decoration: none;
    color: dimgray;
    font-family: 'latoblack';
    padding-right: 20px;
}

.menu ul li a.active{
    color: rgb(222, 179, 126);
}

.menu ul li a:hover{
    color: rgb(222, 179, 126);
}

.search-bar {
    position: relative;
}

.search-bar input {
    background: rgb(171, 168, 166);
    border: none;
    width: 120px;
    height: 30px;
    border-radius: 30px;
    padding: 0 30px 0 10px;
    color: white;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.search-icon a{
    color: black;
    text-decoration: none;
}

.search-form{
    position: relative;
    width: 100%;
}

.search-form input[type="text"]{
    width: 75%;
    padding: 10px 105px 10px 15px;
    border-radius: 20px;
    font-family: 'latoregular';
    border: none;
}

.search-form button{
    position: absolute;
    top: 0%;
    right: 12%;
    padding: 10px 15px;
    border-radius: 20px;
    font-family: 'latoregular';
    border: none;
    color: white;
    background-color: dimgray;
}

.openbtn{
    background-color: rgb(222, 179, 126);
    border-radius: 5px;
    display: none;
}

.strip div {
    height: 3px;
    border-radius: 2px;
    background: rgb(56 56 56);
    margin: 10px;
    width: 40px;
}

.closebtn .burger-strip div:first-child {
    transform: translateY(13px) rotate(45deg);
}
.closebtn .burger-strip div:nth-child(2) {
    opacity: 0;
}
.closebtn .burger-strip div:last-child {
    transform: translateY(-13px) rotate(-45deg);
}

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(222, 179, 126); /* Black fallback color */
    background-color: rgba(222, 179, 126, 1); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

  /* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

  /* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: dimgray;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
    font-family: 'latoblack';
}

  /* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}  
  /* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 4%;
    font-size: 60px;
}

.banner-container::before{
    content: " ";
    background-image: url("../images/Shape-top-100.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 105px;
    z-index: 1;
    position: absolute;
}

.banner-container{
    position: relative;
}

.banner-container::after{
    content: " ";
    background-image: url("../images/Shape-bottom-90.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100px;
    z-index: 1;
    position: absolute;
    bottom: 0%;
}

.banner-container img{
    width: 100%;
}

.content-container{
    position: absolute;
    max-width: 22%;
    top: 30%;
    display: flex;
    flex-direction: column;
}

.content-container h2{
    color: rgb(222, 179, 126);
    font-size: 50px;
    font-family: 'latoblack';
}

.content-container h3{
    color: dimgray;
    font-family: 'latoblack_italic';
    padding-top: 20px;
}

a.btn-white{
    width: fit-content;
    background-color: white;
    border-radius: 30px;
    color: darkgray;
    padding: 5px 20px;
    text-decoration: none;
    font-family: 'latoblack';
    margin: 20px 20px;
}

a.btn-white:hover{
    background-color: rgb(127, 119, 112);
    color: white;
}

.content-container p{
    font-family: 'latolight_italic';
    margin-top: 10px;
}

.sub-header-container{
    margin: auto;
    max-width: 30%;
    text-align: center;
}

.sub-header-container h2{
    color: rgb(222, 179, 126);
    font-size: 50px;
    font-family: 'latoblack';
}

.sub-header-container p{
    font-family: 'latolight';
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-img-container{
    position: relative;
}

.card-container{
    /* position: absolute;
    top: 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.card-img{
    display: flex;
    /* flex-direction: column; */
}


.card-content{
    background-color: rgb(127, 119, 112);
    max-width: 339px;
    padding: 20px 20px;
    color: white;
}

.card-content h3{
    font-family: 'latoblack';
    padding-bottom: 20px;
}

.card-content p{
    font-family: 'latoregular';
}

.card-back-img-container img{
    position: absolute;
    top: 40%;
    left: 0;
}

/* .card-back-img-container::after{
    content: " ";
    background-image: url("../images/Design.png");
    width: 524px;
    height: 506px;
    position: absolute;
    top: 40%;
    left: 0;
} */

.card-back-img-container a{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

a.btn-gray{
    width: fit-content;
    background-color: rgb(127, 119, 112);
    border-radius: 30px;
    color: white;
    padding: 5px 20px;
    text-decoration: none;
    font-family: 'latoblack';
    margin-top: 20px;
}

a.btn-gray:hover{
    background-color: rgb(222, 179, 126);
    color: white;
}

a.btn-sand{
    width: fit-content;
    background-color: rgb(226, 163, 85);
    border-radius: 30px;
    color: white;
    padding: 5px 20px;
    text-decoration: none;
    font-family: 'latoblack';
    margin: 20px 20px;
}

a.btn-sand:hover{
    background-color: white;
    color: rgb(222, 179, 126);
}

.alt-img-container-left{
    margin-top: 250px;
    position: relative;
    display: flex;
    align-items: stretch;
}

.alt-img-container-left .img-part{
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.alt-img-container-left .content-part{
    width: 50%;
    background-color: rgb(127, 119, 112);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alt-content-container{
    max-width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.img-part img{
    width: 100%;
}

.alt-content-container h2{
    font-size: 58px;
    padding-bottom: 30px;
    font-family: 'latoblack';
}

.alt-content-container p{
    font-size: 20px;
    padding-bottom: 20px;
    font-family: 'latoregular';
}



.alt-img-container-right{
    position: relative;
    display: flex;
    align-items: stretch;
}

.alt-img-container-right .img-part{
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.alt-img-container-right .content-part{
    width: 50%;
    background-color: rgb(222, 179, 126);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.long-content-container::before{
    content: " ";
    background-image: url("../images/Shape-top-150.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 156px;
    z-index: 1;
    position: absolute;
    left: 0%;
}

.long-content-container::after{
    content: " ";
    background-image: url("../images/Shape-bottom-90.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100px;
    z-index: 1;
    position: absolute;
    left: 0%;
    bottom: 0%;
}

.long-content-container{
    position: relative;
    background-color: rgb(153, 146, 141);
}

.long-content{
    margin: auto;
    text-align: center;
    max-width: 30%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-family: 'latoregular';
}

.long-content h2{
    padding-bottom: 20px;
}

.hero-container::before{
    content: " ";
    background-image: url("../images/Shape-top-150.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 156px;
    z-index: 1;
    position: absolute;
    left: 0%;
}

.hero-container::after{
    content: " ";
    background-image: url("../images/Shape-bottom-90.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100px;
    z-index: 1;
    position: absolute;
    left: 0%;
    bottom: 0%;
}

.hero-container{
    position: relative;
}

.hero-container img{
    width: 100%;
}

.hero-content{
    margin: auto;
    text-align: right;
    position: absolute;
    top: 50%;
    right: 12%;
    font-family: 'latoblack_italic';
    
}

.hero-content h2{
    color: rgb(222, 179, 126);
    font-size: 55px;
    padding-bottom: 15px;
}

.hero-content h3{
    color: dimgray;
    font-size: 60px;
}

.comment-card-container{
    position: relative;
}

.comment-card-flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment-card{
    max-width: 32%;
    /* padding: 10px 30px; */
}

.comment-card h3{
    color: rgb(222, 179, 126);
    font-family: 'latoblack';
    padding-bottom: 10px;
}

.comment-card p{
    color: dimgray;
    font-family: 'latoregular';
}

.comment-container{
    position: relative;
    height: 574px;
}

.comment-container img{
    position: absolute;
    top: 0%;
    right: 0%;
}

.comment{
    max-width: 30%;
    margin: auto;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
}

.comment h2{
    font-family: 'latoblack';
    font-size: 150px;
}

.comment p{
    font-family: 'latoregular';
    margin-bottom: 20px;
}

.comment h3{
    font-family: 'latoblack';
}

.subscription-container::before{
    content: " ";
    background-image: url("../images/Shape-top-150.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 156px;
    z-index: 1;
    position: absolute;
    left: 0%;
}

.subscription-container::after{
    content: " ";
    background-image: url("../images/Shape-bottom-90.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100px;
    z-index: 1;
    position: absolute;
    left: 0%;
    bottom: 0%;
}

.subscription-container{
    position: relative;
    background-color: rgb(222, 179, 126);
}

.subscription-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscription-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px;
    max-width: 55%;
}

.subscription-content h2{
    color: white;
    font-size: 50px;
    font-family: 'latoblack';
}

.subscription-content p{
    color: dimgray;
    padding-top: 20px;
    padding-bottom: 30px;
    font-family: 'latoregular';
    text-align: center;
}

.subscription-email{
    position: relative;
    width: 100%;
}

.subscription-email input[type="text"]{
    width: 100%;
    padding: 10px 105px 10px 15px;
    border-radius: 20px;
    font-family: 'latoregular';
    border: none;
}

.subscription-email input[type="submit"]{
    position: absolute;
    top: 0%;
    right: 0%;
    padding: 10px 15px;
    border-radius: 20px;
    font-family: 'latoregular';
    border: none;
    color: white;
    background-color: dimgray;
}

.subscription-email input[type="submit"]:hover{
    background-color: rgb(226, 163, 85);
    color: white;
}


footer::before{
    content: " ";
    background-image: url("../images/Shape-top-150.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 156px;
    z-index: 1;
    position: absolute;
    left: 0%;
}

footer{
    background-color: rgb(127, 119, 112);
    color: white;
    position: relative;
}

.footer-flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 180px;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

.title-container{
    width: 40%;
}

.title-container h2{
    font-family: 'latoblack';
    margin-bottom: 20px;
}

.title-container p{
    font-family: 'latolight';
    margin-bottom: 20px;
}

.sub-container{
}

.sub-container h2{
    font-family: 'latoblack';
    margin-bottom: 20px;
}

.sub-container p{
    font-family: 'latolight';
    margin-bottom: 20px;
}

.sub-container ul{
    list-style: none;
    font-family: 'latolight';
}

.sub-container li{
    padding-bottom: 5px;
}

.sub-container li a{
    text-decoration: none;
    color: white;
}

.sub-container li a:hover{
    color: rgb(226, 163, 85);
}

.btn-facebook{
    padding: 5px 10px;
    background-color: white;
    color: dimgray;
    border-radius: 20px;
}

.btn-facebook:hover{
    background-color: rgb(222, 179, 126);
    color: white;
}

.btn-insta{
    padding: 5px 8px;
    background-color: white;
    color: dimgray;
    border-radius: 20px;
}

.btn-insta:hover{
    background-color: rgb(222, 179, 126);
    color: white;
}

.btn-twitter{
    padding: 5px 7px;
    background-color: white;
    color: dimgray;
    border-radius: 20px;
}

.btn-twitter:hover{
    background-color: rgb(222, 179, 126);
    color: white;
}